// ---------------------------------------------------------------------------
// Imports

//@import "partials/base";
//@import "partials/sassybuttons";
//@import "partials/fonts";

// Import compass/typography for horizontal menu
@import "~compass-mixins/lib/compass/typography/lists/horizontal-list";
@import "~compass-mixins/lib/compass/typography/links/unstyled-link";
@import "~compass-mixins/lib/compass/css3/border-radius";
@import "~bootstrap/scss/buttons";

.hubby-meeting-header {
    @include border-radius(0.5em);
    background: darken($body-bg, 15%);
    color: $dark;
    position: relative;
}

.hubby-meeting-header-text {
    text-align: center;
    position: relative;
}

.hubby-meeting-item {
    @include border-radius(0.5em);
    background: darken($body-bg, 5%);
    border-style: solid;
    border-color: $primary;
    margin: 0.1em;
    position: relative;
}

.hubby-meeting-agenda-header {
    text-align: center;
    font-size: 1.1em;
}

.hubby-meeting-header-agenda {
    font-size: 0.8em;
    margin: 0.5em;
    font-family: "Play";
}

.hubby-meeting-header-minutes {
    font-size: 0.8em;
    margin: 0.5em;
    font-family: "Play";
}


.hubby-meeting-item-info {
    font-size: 0.9em;
    position: relative;
    background: $body-bg;
}

.hubby-meeting-item-agenda-num {
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
    top: 0em;
    left: 0.5em;
}

.hubby-meeting-item-fileid {
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top: 0em;
    right: 0.5em;
}

.hubby-meeting-item-status {
    font-family: "Play";
    font-size: 0.8em;
    font-weight: bold;
    position: absolute;
    top: 0em;
    width: 100%;
    text-align: center;
}

.hubby-meeting-item-text {
    font-size: 1.0em;
}

.hubby-meeting-item-attachment-marker {
    @include button-variant($dark, $body-bg, $secondary);
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}
.hubby-meeting-item-action-marker {
    @include button-variant($dark, $body-bg, $secondary);
    font-size: 0.9em;
    font-weight: bold;
    cursor: pointer;
}


.hubby-action-text {
    font-size: 0.9em;
    @include border-radius;
    border-color: $body-bg;
    border-style: solid;
    border-width: 1px;
}

.hubby-meeting-item-attachments {
    font-size: 0.8em;
    z-index: 1;
    position: absolute;
    @include border-radius;
    background: lighten($body-bg, 4%);
    border-style: solid;
    border-color: $secondary;
    border-width: 1px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
}

.hubby-meeting-item-attachments-header {
    @include border-bottom-radius;
    text-align: center;
    background: lighten($body-bg, 5%);
}
