@import "bootstrap-base";

// add cornsilk colors
@import "themes/cornsilk";

@import "bootstrap-components";

// .col-sm-10.col-sm-offset-1
#messages {
    @include make-col-ready();
    @include make-col(10);
    @include make-col-offset(1);
    //@extend .col-sm-10;
    //@extend .offset-sm-1;
}

#applet-content {
    @extend .row
}

#footer {
    @extend .row
}


#navbar-brand {
    //@extend .navbar-header;
}

#navbar-view {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .navbar-light;
    background-color: darken($body-bg, 10);

    .dropdown-menu {
	background-color: darken($body-bg, 10);
    }

    .dropdown-item:hover {
	background-color: darken($body-bg, 20);
    }	
}


.btn-default {
    @extend .btn;
    @extend .btn-outline-secondary;
}


.applet-container {
    @include make-col-ready();
    @include make-col(12);
}

#main-toolbar {
    @include make-col-ready();
    @include make-col(8);
    @include make-col-offset(2);
}

#main-content {
    @include make-col-ready();
    @media(max-width: 32em) {
	@include make-col(8);
	@include make-col-offset(2);
    }
    @media(min-width: 32.1em) {
	@include make-col(10);
	@include make-col-offset(1);
    }
}

.listview-list {
    background: $background;
    padding: 0.3em;
}

.listview-list-entry {
    background: darken($background, 5);
    margin: 0.5em;
    border-style: solid;
    border-width: 0.1em;
    border-color: $primary;
    padding: 0.3em;
    a {
	color: $secondary;
	}
}


.listview-header {
    @include border-radius(0.5em);
    background: darken($background, 10);
    color: $secondary;
    text-align: center;
    font-size: 1.5em;
    border-style: solid;
    border-width: 0.2em;
    border-color: lighten($primary, 10);
}

