@import "../X11colors";

//$primary-color: desaturate($color-BlanchedAlmond, 80%);
$primary: lighten(desaturate($color-cornsilk2, 40%), 10%);

//$secondary-color: darken($color-RosyBrown, 20%);
$secondary: $color-DarkSlateBlue;

$background: darken($primary, 20%);
$body-bg: $background;
		 
$button-background: darken($background, 15%);

$panel-bg: darken($background, 10%);

$link-color: darken($color-DarkSlateBlue, 5%);
