@import "../X11colors";

//$primary: lighten(desaturate($color-cornsilk2, 40%), 10%);

//$primary: $color-DarkSlateBlue;

$primary: $color-cornsilk4;

//$secondary-color: darken($color-RosyBrown, 20%);
$secondary: lighten(salmon, 10%);

//$background: darken($primary, 30%);
$primary: $secondary;
$background: $color-black;
$body-bg: $background;
$body-color: $color-cornsilk;;
$link-color: lighten($color-salmon, 10%);

$navbar-light-color: $link-color;
$navbar-light-hover-color: $link-color;
$navbar-light-active-color: $link-color;


$list-group-bg: lighten(saturate($background, 5%), 5%);
$card-bg: lighten(saturate($background, 5%), 5%);

$panel-bg: lighten($background, 10%);
$jumbotron-bg: lighten($background, 10%);
$modal-content-bg: lighten($background, 10%);

$dropdown-bg: $card-bg;
$dropdown-link-color: lighten(salmon, 10%);

$dropdown-link-hover-bg: lighten($card-bg, 30%);
$dropdown-link-hover-color: $dropdown-link-color;


$input-bg: $card-bg;
$input-color: $body-color;

$input-focus-bg: lighten($card-bg, 5%);
$input-focus-color: $body-color;

$table-color: lighten($body-color, 10%);
$custom-select-color:               $input-color;
$custom-select-disabled-color:      $gray-600 !default;
$custom-select-bg:                  $input-bg;
$custom-select-disabled-bg:         $gray-200 !default;


$pagination-color: $link-color;
$pagination-bg: $card-bg;


